// Mixins.scss, for responsiveness and centering using flexbox and any presets for elements 

/* Importing custom made webfont for project */
@font-face {
  font-family: 'monsterhunter';
  src: url('fonts/monsterhunter-webfont.woff2') format('woff2'),
    url('fonts/monsterhunter-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@mixin centerObject($dir) {
    display: flex;
    flex-direction: ($dir);
    align-items: center;
    justify-content: center;
  }
  
  // Creates a pretty button used for menu elements and backgrounds of other containers, useful for making items stand out
  @mixin neonButton($backcol, $boxshadow, $boxwidth) {
    background-color: $backcol;
    box-shadow: 0 0 $boxwidth $boxshadow;
  }
  

  // Making media queries easier by using a mixin
  @mixin Responsive($type) {
  
    // Width Classification
    @if $type==HiDPI {
      @media only screen and (min-width: 3200px) {
        @content;
      }
    }
  
    @if $type==Desktop {
      @media only screen and (min-width: 750px) {
        @content;
      }
    }
  
    @else if $type==Tablet {
      @media only screen and (max-width: 749px) and (min-width: 481px) {
        @content;
      }
    }
  
    @else if $type==Mobile {
      @media only screen and (max-width: 480px) {
        @content;
      }
    }
  
    @else if $type==width {
      @media only screen and (min-width: 620px) {
        @content;
      }
    }
  
    // Height Classification
    @if $type==height {
      @media only screen and (min-height: 820px) {
        @content;
      }
    }
  }