// Load Mixin Libraries for responsiveness and styling shortcuts
@import 'modules/base';
@import 'modules/mixins';
@import 'modules/nav';
@import 'modules/animations';

*{
  height: 100%;
}

.hamburger{
  @include Responsive("Desktop") {
    position: fixed;
  }
}

.header {
  @include fadein(3s);

  position: relative;
  background: url(img/desktop-frontpage.jpg) no-repeat center fixed;
  background-size: cover;
  height: 90vh;
  z-index: -2;

  // Make the header fit the whole viewport to obscure the text
  @include Responsive("Desktop") {
    height: 100vh;
  }
}

.logo,
.about {
  /* Header text */
  @include centerObject(row);
  color: white;
  overflow: hidden;
}

.about {
  @include centerObject(column);

  justify-content: flex-start;

  @include Responsive("Mobile") {
    display: none;
  }

  @include Responsive("Tablet") {
    display: block;
    height: 320px;
  }

  @include Responsive("Desktop") {
    display: block;
    height: 250px;
  }
}

.logo-text {
  @include fadein(0s);

  filter: drop-shadow(1px 7px 2px #222);
  overflow: hidden;
  height: 130px;
  font-family: monsterhunter;
  z-index: -1;

  @include Responsive("Mobile") {
    font-size: 3em;
  }

  @include Responsive("Tablet") {
    font-size: 5em;
  }

  @include Responsive("Desktop") {
    font-size: 8em;
  }
}

.sub-text,
.sub-text-para {
  width: 100%;
  overflow: hidden;
  text-align: center;
  position: relative;
  font-family: monsterhunter;
  font-size: 1.9em;
  padding: 25px 0px;
  height: 30%;
  text-shadow: 1px 1px #222;
  z-index: -1;

  @include Responsive("Tablet") {
    height: 35%;
  }

  @include Responsive("Desktop") {
    font-size: 2em;
  }
}

.sub-text {
  @include neonButton(rgb(77, 214, 100), rgb(80, 251, 109), 0px);
}

.sub-text-para {
  @include centerObject(row);
  flex-wrap: nowrap;
  padding: 0 100px;
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  height: 70%;
  font-size: 1.19em;

  @include Responsive("Tablet") {
    padding: 0 25px;
  }
}