  // Load Mixin Libraries for responsiveness and styling shortcuts
@import 'modules/base'; // Repetitive elements between each website
@import 'modules/mixins'; // Mixins used for centering
@import 'modules/nav'; // Navbar elements
@import 'modules/animations'; // Animation elements

// For desktop devices make the navbar stay at the top, this works well for desktop but not mobile
.hamburger{
  @include Responsive("Desktop") {
    position: fixed;
  }
}

// Fade in to give time for the image to load
.header {
  @include fadein(3s);

  position: relative;
  background: url(img/desktop-frontpage.jpg) no-repeat center fixed; //Fixed makes the website scroll over the background giving a nice responsive effect
  background-size: cover; 
  height: 90vh;
  z-index: -2;

  // Make the header fit the whole viewport to obscure the text
  @include Responsive("Desktop") {
    height: 100vh; //Take up the whole screen on desktop for viewing experience
  }
}

  /* Header text */
.logo,
.about {
  @include centerObject(row);
  color: white;
  overflow: hidden;
}

.about {
  @include centerObject(column);

  @include Responsive("Mobile") {
    display: none;
  }

  @include Responsive("Tablet") {
    display: block;
    height: 320px;
  }

  @include Responsive("Desktop") {
    display: block;
    height: 250px;
  }
}

// Main Logo for the Website
.logo-text {
  @include fadein(0s);

  // Add drop shadow for readability
  filter: drop-shadow(1px 7px 2px #222);

  overflow: hidden;
  height: 130px;
  font-family: monsterhunter;
  z-index: -1; // This is needed for the text to not appear over the hamburger menu

  // Change font size depending on screen type
  @include Responsive("Mobile") {
    font-size: 3em;
  }

  @include Responsive("Tablet") {
    font-size: 5em;
  }

  @include Responsive("Desktop") {
    font-size: 8em;
  }
}

// Paragraph text and header text for the about section
.sub-text,
.sub-text-para {
  width: 100%;
  overflow: hidden;
  text-align: center;
  position: relative;
  font-family: monsterhunter;
  font-size: 1.9em;
  padding: 25px 0px;
  height: 30%;
  text-shadow: 1px 1px #222;
  z-index: -1; // Makes the text not appear above the hamburger menu

  @include Responsive("Tablet") {
    height: 35%;
  }

  @include Responsive("Desktop") {
    font-size: 2em;
  }
}

.sub-text {
  @include neonButton(rgb(77, 214, 100), rgb(80, 251, 109), 0px);
}

.sub-text-para {
  @include centerObject(row);
  flex-wrap: nowrap;
  padding: 0 100px;
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  height: 70%;
  font-size: 1.19em;

  @include Responsive("Tablet") {
    padding: 0 25px;
  }
}