/* Importing custom made webfont for project */
@font-face {
  font-family: 'monsterhunter';
  src: url("fonts/monsterhunter-webfont.woff2") format("woff2"), url("fonts/monsterhunter-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: #222;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 55px;
  background: #222222;
}

@media only screen and (min-width: 3200px) {
  nav {
    height: 72px;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-decoration: none;
  list-style-type: none;
  width: 100%;
}

@media only screen and (min-width: 750px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.home {
  padding: 10px 15px;
  display: block;
  color: #eee;
  font-family: monsterhunter;
  font-size: 1.8em;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  /* Animation */
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media only screen and (max-width: 480px) {
  .home {
    opacity: 0.9;
    position: absolute;
    left: 50%;
    top: 0%;
    height: 55px;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@media only screen and (max-width: 749px) and (min-width: 481px) {
  .home {
    opacity: 0.9;
    position: absolute;
    left: 50%;
    top: 0%;
    height: 55px;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

.menu li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6px 0 6px 0;
  width: 100%;
  opacity: 0.2;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  /* Animation */
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media only screen and (max-width: 480px) {
  .menu li a {
    opacity: 0.9;
  }
}

.menu li a:hover {
  background-color: #4dd664;
  -webkit-box-shadow: 0 0 10px #50fb6d;
          box-shadow: 0 0 10px #50fb6d;
  opacity: 1;
}

@media only screen and (min-width: 750px) {
  .menu li a:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

a {
  text-decoration: none;
}

.home a:hover {
  opacity: 1;
}

@media only screen and (min-width: 750px) {
  .home a:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.home:hover {
  background-color: #4d72d6;
  -webkit-box-shadow: 0 0 10px #6f5fcc;
          box-shadow: 0 0 10px #6f5fcc;
}

.toggle,
.toggle i {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  /* flex-grow, flex-shrink, flex-basis */
  padding: 0px 80% 0px 0px;
  font-size: 20px;
  color: #eee;
}

@media only screen and (min-width: 750px) {
  .toggle,
  .toggle i {
    display: none;
  }
}

.toggle i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
}

li {
  color: #eee;
}

.weapon {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .weapon {
    display: none;
  }
}

@media only screen and (max-width: 749px) and (min-width: 481px) {
  .weapon {
    display: none;
  }
}

.active .weapon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background: #222222;
  z-index: 1;
}

a:hover,
.weapon a:hover::after {
  color: #ccc;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menu li a.selected {
  background-color: #2ba04e;
  -webkit-box-shadow: 0 0 0px #50fb6d;
          box-shadow: 0 0 0px #50fb6d;
  opacity: 0.9;
}

h1, h2 {
  width: 100%;
}

.category {
  padding: 46px 0px;
  margin: 35px 20px;
  height: 450px;
  border-radius: 10px;
  background-color: #252424;
  -webkit-box-shadow: 0 0 3px rgba(247, 247, 247, 0.801);
          box-shadow: 0 0 3px rgba(247, 247, 247, 0.801);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10%;
}

@media only screen and (max-width: 480px) {
  .header {
    height: 5%;
  }
}

.category h1 {
  width: 100%;
  padding: 0 0 1em 0;
  font-family: monsterhunter;
  font-size: 4em;
  text-align: center;
  color: #eee;
}

@media only screen and (max-width: 480px) {
  .category h1 {
    font-size: 2em;
  }
}

@media only screen and (max-width: 749px) and (min-width: 481px) {
  .category h1 {
    font-size: 2.5em;
  }
}

.category p, .category h2 {
  padding: 0px 10px;
  height: 46px;
  text-align: center;
  color: #eee;
}

@media only screen and (max-width: 480px) {
  .category h2 {
    font-size: 1.3em;
  }
}

@media only screen and (max-width: 480px) {
  .category i {
    font-size: 0.8em;
  }
}

.category-description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 22px 10px;
  height: 180px;
}

@media only screen and (max-width: 480px) {
  .category-description {
    height: 210px;
    padding: 10px 0 0 0;
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 749px) and (min-width: 481px) {
  .category-description {
    height: 200px;
    padding: 10px 0 0 0;
  }
}

.category-header img {
  width: 50px;
  height: 50px;
}

hr {
  height: 1px;
}

.build {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.build li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1em;
  width: 13rem;
  height: auto;
  text-decoration: none;
  list-style-type: none;
  border-style: solid;
  padding: 9px 5px 3px 5px;
  border-width: 1px;
  background-color: rgba(194, 57, 57, 0.931);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 749px) and (min-width: 481px) {
  .build li {
    font-size: 1em;
  }
}

@media only screen and (max-width: 480px) {
  .build li {
    font-size: 0.9em;
  }
}

.build ul {
  height: 85%;
  width: 100%;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.armor-icon {
  width: 25px;
  height: auto;
}

.poison {
  background-color: #252424;
  -webkit-box-shadow: 0 0 3px #c08cc5;
          box-shadow: 0 0 3px #c08cc5;
}

.thunder {
  background-color: #252424;
  -webkit-box-shadow: 0 0 3px #d4c963;
          box-shadow: 0 0 3px #d4c963;
}

.raw {
  background-color: #252424;
  -webkit-box-shadow: 0 0 3px #e2e7ec;
          box-shadow: 0 0 3px #e2e7ec;
}

.water {
  background-color: #252424;
  -webkit-box-shadow: 0 0 3px #53d5ec;
          box-shadow: 0 0 3px #53d5ec;
}

.ice {
  background-color: #252424;
  -webkit-box-shadow: 0 0 3px #70d2ff;
          box-shadow: 0 0 3px #70d2ff;
}

.dragon {
  background-color: #252424;
  -webkit-box-shadow: 0 0 3px #d363ca;
          box-shadow: 0 0 3px #d363ca;
}

.fire {
  background-color: #252424;
  -webkit-box-shadow: 0 0 3px #ee3b62;
          box-shadow: 0 0 3px #ee3b62;
}

.blast {
  background-color: #252424;
  -webkit-box-shadow: 0 0 3px #fff677;
          box-shadow: 0 0 3px #fff677;
}
/*# sourceMappingURL=weapons.css.map */