// Load Mixin Libraries for responsiveness and styling shortcuts
@import 'modules/mixins';
@import 'modules/base';
@import 'modules/nav';
@import 'modules/animations';


.menu li a.selected{
    @include neonButton(rgb(43, 160, 78), rgb(80, 251, 109), 0px); // Mixin that creates a neon coloured backdrop
    opacity: 0.9;
}

h1, h2{
    width: 100%;
}

.category{
    padding: 46px 0px;
    margin: 35px 20px;
    height: 450px;
    border-radius: 10px; // Make container rounded
    @include neonButton(rgb(37, 36, 36), rgba(247, 247, 247, 0.801), 3px);
}

.header{
    @include centerObject(row);
    height: 10%;
    @include Responsive("Mobile"){
        height: 5%;
    }
}

.category h1{
    width: 100%;
    padding: 0 0 1em 0;
    font-family: monsterhunter;
    font-size: 4em;
    text-align: center;
    @include Responsive("Mobile"){
        font-size: 2em;
    }
    @include Responsive("Tablet"){
        font-size: 2.5em;
    }
    color: #eee;
}

.category p, .category h2{
    padding: 0px 10px;
    height: 46px;
    text-align: center;
    color: #eee;
}

.category h2{
    @include Responsive("Mobile"){
        font-size: 1.3em;
    }
}

.category i{
    @include Responsive("Mobile"){
        font-size: 0.8em;
    }
}

.category-description{
    flex-direction: column;
    padding: 22px 10px;
    height: 180px;
    @include Responsive("Mobile"){
        height: 210px;
        padding: 10px 0 0 0 ; // Padding top, right, bottom, left
        font-size: 0.9em;
    }
    @include Responsive("Tablet"){
        height: 200px;
        padding: 10px 0 0 0;
    }
}
.category-header img{
    width: 50px;
    height: 50px;
}

hr{
    height: 1px;
}

.build{
    display: flex;
    text-align: center;
}

.build li{
    @include centerObject(row);
    font-size: 1em;
    width: 13rem;
    height: auto;
    text-decoration: none;
    list-style-type: none;
    border-style: solid;
	padding: 9px 5px 3px 5px;
    border-width: 1px;
    background-color: rgba(194, 57, 57, 0.931);
    justify-content: space-between;

    @include Responsive("Tablet"){
        font-size: 1em;
    }

    @include Responsive("Mobile"){
        font-size: 0.9em;
    }
}

.build ul{
    height: 85%;
    width: 100%;
    padding: 10px 0;
    @include centerObject(column);
    justify-content: space-evenly;
}

.armor-icon {
    width: 25px;
	height: auto;
}

// Element colours for boxes

.poison{
    @include neonButton(rgb(37, 36, 36), rgb(192, 140, 197), 3px);
}

.thunder{
    @include neonButton(rgb(37, 36, 36), rgb(212, 201, 99), 3px);
}

.raw{
    @include neonButton(rgb(37, 36, 36), rgb(226, 231, 236), 3px);
}

.water{
    @include neonButton(rgb(37, 36, 36), rgb(83, 213, 236), 3px);
}

.ice{
    @include neonButton(rgb(37, 36, 36), rgb(112, 210, 255), 3px);
}

.dragon{
    @include neonButton(rgb(37, 36, 36), rgb(211, 99, 202), 3px);
}

.fire{
    @include neonButton(rgb(37, 36, 36), rgb(238, 59, 98), 3px);
}

.blast{
    @include neonButton(rgb(37, 36, 36), rgb(255, 246, 119), 3px);
}
